.formLabel {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
}

.filterInput {
  width: 50vw;
  background: white;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}