.header {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .contacts {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
  }
  
  .formInput {
    width: 50vw;
    background: white;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .formBtn {
    width: 30vw;
    margin: auto;
    color: white;
    padding: 15px 0;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #ed8080;
    letter-spacing: 0.04em;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .formBtn:hover,
  .formBtn:focus {
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.7));
    transform: scale(1.03);
  }