.container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #b74848;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
}

.header {
  color: white;
  margin: 0;
}

.contactsContainer {
  width: 100%;
  background: #b74848;
  padding: 20px;
}

.contactsHeader {
  color: white;
  margin: 0;
}

.error {
  color: white;
  background: #b74848;
  padding: 10px;
  border-radius: 5px;
}